<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eurovision Song Contest Prediction</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="container">
			<h1 class="center">Euro Vision Song Contest 2013 Winner Prediction</h1>
			<h2>Based on the number of YouTube views each song has*.</h2>
			<div class="plot_container">
				<div id="placeholder"></div>
			</div>
			<p>* As described by Andreas Ekström in his <a href="http://www.youtube.com/watch?v=zzXQDXCfEcA">TEDxTalk</a>.</p>
		</div>

		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/jquery.flot.min.js"></script>
		<script type="text/javascript" src="/js/jquery.flot.categories.min.js"></script>
		<script type="text/javascript" src="/js/spin.min.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
	</body>
</html>
